body{
    background: url('../img/pattern.jpg');
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* ini styling untuk header nya */

.container{
    background-color: aliceblue;
    width: 100%;
    max-width: 100%;
    padding: 20px;
}

img{
    max-width: 100%;
    height: auto;
}

.main-header .container{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-nav ul{
    margin: 1em 0 .5em;
    text-align: center;
}

.main-nav li {
    display: inline-block;
    padding: .5em 2em;
}

.main-nav a{
    display: inline;
    text-decoration: none;
    color: #013467;
}

/* Penutup styling untuk header */

/* ini styling untuk body */

.main-section{
    padding-top: 100px;
    background-color: #fff;
    margin: 0em 10em;
}

.title{
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

article{
    border-bottom:1px solid #666;
    padding: 20px;
}

article a{
    text-decoration: none;
    color: #666;
}

article p{
    font-size: 14px;
}

/* Penutup styling untuk body */

/* Ini styling untuk footer */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #333;
    color: #fff;
}

/* Penutup styling untuk footer */